#main_wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

}

#ref_btn_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    width: 100%;
    min-height: 25px;
    margin-bottom: 10px;
    font-size: 20px;
}

#topbar {
    background-color: orange;
    border: 2px solid black;
    left: 0;
    top: 0;
    width: 100%;
    height: 10%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 40px;
}

.fs_wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 500px;
    justify-content: left;
}

.file {
    height: 100%;
    width: 40%;
    left: 0;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
}

.file_name {
    width: 99%;
    min-width: 250px;
}

.file_size {
    width: 1%;
    min-width: 50px;
    display: flex;
    justify-content: right;
}